<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Gabble</title>
  </head>
  <body>

    <div class="links">
      <a href="./feed">Gabble</a>
      <a href="./newGab">Create a new gab</a>
      <a href="/">Log in</a>
      <a href="./signup">Sign up</a>
    </div>

    <h1>Create a new gab</h1>

    <form action="/newGab" method="post">
      <textarea name="newGab"></textarea>
      <br>
      <button type="submit">Save gab</button>
    </form>

  </body>
</html>
